.Intro {
  padding: 1em;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
}

.Intro-flexible {
  flex: 1;
  overflow: hidden;
}

.Intro-byline {
  margin-top: 0.618em;
  flex-shrink: 0;
}

.js-Checkboxes {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out 1 forwards;
}

.isPaused {
  animation-play-state: paused;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.Portfolio {
  background-color: #F8F6F5;
  color: #333;
  min-height: 100vh;
  scroll-snap-align: start;
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 32px;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  padding: 16px;
}

.Portfolio h2 {
  color: #b95b23;
  /* gold color: rgb(185, 154, 84); */
  font-size: 1.618em;
  grid-column: 1/-1;
  margin-top: 8px;
  margin-bottom: 8px;
}


.Portfolio img {
  border-radius: 4px;
  max-width: 100%;
  margin-bottom: 1em;
}

.Portfolio > a {
  text-decoration: none;
  display: block;
  color: inherit;
  margin-bottom: 0.618em;
}

.Portfolio a:hover {
}

.Portfolio a:hover > div {
  text-decoration: underline;
}

.Portfolio p {
  color: #666;
  line-height: 1.45;
}
